.ms-dialog #s4-ribbonrow { 
    display: none;
}

.ms-dialog .ctrlButton {
    float:right;

}

.ms-dialog .footer {
    position:absolute;
    bottom: 10px;
    right: 20px;
    width: 700px;

}

.ms-dialog .magglass{
    position:absolute;
    margin-left: 145px;
    margin-top: 2px;
    width:19px;

}

.ms-dialog .searchBar {
    position:absolute;

}
.ms-dialog .content {

    overflow:auto;
    height:330px;
}

.ms-dialog #copymove{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
}

.ms-dialog #copymove::selection {
    background: transparent;
    color: inherit;
}

.ms-dialog #listIcon {
    float:left;
    margin-top:40px;
}

.ms-dialog .copyList{
    list-style-type: none;
    margin-left: 100px;

}

.ms-dialog .finish{
    font-weight: bold;
    color:green;
}

.ms-dialog .error{
    font-weight: bold;
    color: red;
}

.itemscopied{
    position:absolute;
}

.ms-dialog .warning{
    color:red;
    font-size:20px;
    margin-left:20px;

}

.statuscopied{
    margin-left:300px;
}

.ms-dialog .dirList{

}

.ms-dialog .dirListElements{


}
.ms-dialog .libList{

}

.ms-dialog .libListElements{

}