<div id="copymove">
    <hr>
    <div class="content">
        <div *ngIf="screen==0">
            <ul id="listIcon">
                <li *ngFor="let site of sitecollection" selection-model>

                    <span (click)="site.toggle()">{{ site.name }}</span>
                    <div *ngIf="site.expanded">
                        <tree-view-doclib [documentlibrary]="site.documentLibraries">
                        </tree-view-doclib>
                    </div>
                </li>
            </ul>
            <div *ngIf="selected==true">
                <div class="footer">
                    <hr>
                    <button id="cm-button" class="ctrlButton" onclick="return false" (click)="clicked(true)"><b>Move</b></button>
                    <button id="cm-button" class="ctrlButton" onclick="return false" (click)="clicked(false)"><b>Copy</b></button>
                    <button id="cm-button" class="ctrlButton" onclick="return false" (click)="done()">Cancel</button>


                </div>
            </div>
            <div *ngIf="selected!=true">
                <div class="footer">
                    <hr>
                    <button id="cm-button" class="ctrlButton" onclick="return false" disabled>Move</button>
                    <button id="cm-button" class="ctrlButton" onclick="return false" disabled>Copy</button>
                    <button id="cm-button" class="ctrlButton" onclick="return false" (click)="done()">Cancel</button>
                </div>
            </div>
        </div>
        <div *ngIf="screen==1">
            <span class="warning">Do not close this window until all files and folders are copied / moved.</span>
            <ul class="copyList">
                <li *ngFor="let items of filesToCopy" selection-model>
                    <div>
                        <div class="itemscopied">{{items.id}}:{{items.name}}</div>
                        <div class="statuscopied">
                            <div *ngIf="items.status=='Done'" class="finish">{{items.status}}</div>
                            <div *ngIf="items.status!='Done'&&items.status!='Error'" class="progress">{{items.status}}</div>
                            <div *ngIf="items.status=='Error'" class="error">{{items.status}}</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <hr>
                <button id="cm-button" onclick="return false" (click)="canceled()" class="ctrlButton">Cancel</button>
            </div>
        </div>
        <div *ngIf="screen==2">
            <div *ngIf="errorReport.length>0">
                <ul>
                    <li *ngFor="let error of errorReport" selection-model>
                        <span>{{error}}</span>
                    </li>
                </ul>
            </div>
            <div *ngIf="errorReport.length==0">
                <span> Everything copied. </span>
            </div>
            <div class="footer">
                <hr>
                <button id="cm-button" onclick="return false" (click)="done()" class="ctrlButton">Done</button>
            </div>
        </div>
    </div>
</div>